# SPDX-FileCopyrightText: (C) 2025 DeliteAI Authors
#
# SPDX-License-Identifier: Apache-2.0

PyYAML==6.0.1
setuptools
wheel
cibuildwheel==2.17.0
pytest
psutil==6.1.0
boto3==1.35.99
-r delitepy/requirements.txt
